html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
    font-family: Arial;
}


aside ol li {transition: transform 0.6s}
aside ol li:hover {
    transform: scale(1.1);
    transition: transform 0.6s;
}
aside ol li:active{
    transform: scale(1.05);
    transition: transform 0.1s;
}
a {text-decoration: none;color: #fff;}
p {font-size: 20px; line-height: 1.3}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    position: fixed;
    height: 10vh;
    width: 100%;
    background: #000;
    opacity: 0.8;
}
.logo-name {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header h1{width: 100vw}


main {
    width: 100%;
    display: flex;
    flex-direction: row;
}



aside {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0vh;
    margin-top: 100vh;
    width: 20%;
    height: 100vh;
    background: #000;
    color: #fff;
    padding: 2.5%;
    box-sizing: border-box;
}
.logo-img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
aside img {
    width: 66px;
    height: 58px;
    position: absolute;
    z-index: 10;
}
aside nav {
    margin-top: 100px;
}
aside nav ol {
    height: 70vh;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
aside nav ol li {
    margin-top: 10px;
}



content {
    display: flex;
    flex-direction: column;
    width: 80%;
}
content img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    margin-left: -20%;
}
.img-text {
    color: #fff;
    width: 60%;
    margin-left: -25%;
    text-transform: uppercase;
}
.img-txt-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    padding: 5%;
    box-sizing: border-box;
}


.img-txt-btn button {
    height: 50px;
    width: 180px;
    margin-top: 80vh;
    border-radius: 30px;
    background-color: #fff;
    font-size: 20px;
    font-family: inherit;
    background: #fff:
    color: #000;
    transition: transform 0.6s;
}
.img-txt-btn button:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}
.img-txt-btn button:active {
    transform: scale(1);
    transition: transform 0.2s;
}

.about-mount {
    width: 80%;
    font-size: 20px;
    padding: 2.5%;
}




footer {
    width: 100%;
    height: 50vh;
    background: #000;
}

header h1 {color: #fff; text-align: center}
footer h1 {color: #fff; text-align: center}
